*{
	padding: 0px;
	margin: 0px;
}
.whole{
	width: 100%;
	background-color: #ffffff;
}
.cover{
	width: 100%;
	height: 126px;
	z-index: 1;
	background-color: #ffffff;
}
.topandnext{
	width: 1180px;
	height: 126px;
	margin: 0 auto;
	background-color: #ffffff;
}
.top{
	height: 26px;
	padding-top: 1px;
	position: relative;
}
.word1{
	margin-top: 5px;
	width: 100px;
	font-size: 12px;
	color: #9a9791;
	float: left;
}

.qq{
	margin-top: 3px;
	margin-left: 260px;
	height: 25px;
	width: 20px;
	background: url(../img/common_min.png) no-repeat 0 -28px;
	display: inline-block;
}
.wechat{
	margin-top: 3px;
	margin-left: 15px;
	height: 25px;
	width: 20px;
	background: url(../img/common_min.png) no-repeat 0 -50px;
	display: inline-block;
}
.sina{
	margin-top: 3px;
	margin-left: 15px;
	height: 25px;
	width: 20px;
	background: url(../img/common_min.png) no-repeat 0 -72px;
	display: inline-block;
}
.entry{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	margin-left: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	color: #9a9791;
}
.enroll{
	padding-bottom: 5px;
	font-size: 14px;
	height: 25px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 525px;
	color: #9a9791;
}
.massage{
	margin-top: 3px;
	margin-left: 105px;
	height: 25px;
	width: 20px;
	background: url(../img/common_min.png) no-repeat 0 -111px;
	display: inline-block;
}
.massage1{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 593px;
	color: #9a9791;
}
.order{
	margin-left: 50px;
	display: inline-block;
	position: absolute;
	top: 5px;
}
.myOrder{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 655px;
	color: #9a9791;
}
.collection{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 730px;
	color: #9a9791;
}
.change{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 810px;
	color: #9a9791;
}
.phone{
	margin-left: 300px;
	display: inline-block;
	position: absolute;
	top: 5px;
}
.phone1{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 902px;
	color: #9a9791;
}
.five{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 968px;
	color: #9a9791;
}
.service{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 1025px;
	color: #9a9791;
}
.shopping{
	margin-left: 509px;
	display: inline-block;
	position: absolute;
	top: 5px;
}
.shopping1{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 1120px;
	color: #9a9791;
}
.zero{
	padding-bottom: 5px;
	height: 25px;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 1165px;
	color: #fe6c00;
	font-weight: bold;
}
.next{
	height: 100px;
	position: relative;
}
.logo{
	float: left;
	margin-top: 15px;
	display: inline-block;
}
.form{
	margin-left: 105px;
	display: inline-block;
	margin-top: 33px;
}
.form input{
	float: left;
	height: 33px;
	width: 498px;
	border: 3px solid #fe6c00;
	color: #74736d;
}
.form button {
    height: 39px;
    width: 83px;
    border: 0;
    background-color: #fe6c00;
    color: white;
    font-size: 16.5px;
}
.consult{
	margin-left: 87px;
	height: 37px;
	width: 83px;
	border: 1px solid #e6e5e2;
	display: inline-block;
	position: absolute;
	top: 31px;
	border-radius: 2px;
}
.consult1{
	height: 22px;
	width: 20px;
	margin-left: 30px;
	margin-top: 2px;
	background: url(../img/common_min.png) no-repeat 0 -94px;
}
.word2{
	font-size: 5px;
	color: #9a9791;
	margin-left: 1px;
	margin-top: -1px;
}
.massage2{
	height: 37px;
	width: 83px;
	border: 1px solid #e6e5e2;
	display: inline-block;
	position: absolute;
	top: 31px;
	left: 1005px;
	border-radius: 2px;
}
.massage3{ 
	height: 22px;
	width: 20px;
	margin-left: 30px;
	margin-top: 2px;
	background: url(../img/common_min.png) no-repeat 0 -111px;
}
.word3{
	font-size: 5px;
	color: #9a9791;
	margin-left: 1px;
	margin-top: -1px;
}
.consult{
	margin-left: 87px;
	height: 37px;
	width: 83px;
	border: 1px solid #e6e5e2;
	display: inline-block;
	position: absolute;
	top: 31px;
	border-radius: 2px;
}
.consult1{
	height: 22px;
	width: 20px;
	margin-left: 30px;
	margin-top: 2px;
	background: url(../img/common_min.png) no-repeat 0 -94px;
}
.word2{
	font-size: 5px;
	color: #9a9791;
	margin-left: 1px;
	margin-top: -1px;
}
.question{
	height: 37px;
	width: 83px;
	float: right;
	background-color: #ff4d04;
	display: inline-block;
	position: absolute;
	top: 31px;
	left: 1090px;
	border-radius: 2px;
}
.question1{
	height: 16px;
	width: 16px;
	margin-left: 5px;
	margin-top: 12px;
	background: url(../img/wenhao.jpg) no-repeat ;
	display: inline-block;
}
.word4{
	font-size: 12px;
	color: white;
	display: inline-block;
	float: right;
	margin-right: 13px;
	margin-top: 10px;
}
.bottom{
	height: 20px;
	width: 566px;
	position: relative;
	margin-left: 252px;
	margin-top: 6px;
	overflow: hidden;
}
ul,li{
	list-style: none;
	display: inline-block;
}
.image1{
	display: inline-block;
}
.lei{
	width: 1180px;
	height: 43px;
	margin: 0 auto;
	background-color: #ffffff;
}
.goods{
	height: 43px;
	position: relative;
}
.goods1{
	height: 43px;
	width: 172px;
	background-color: #ff4d04;
	font-size: 15px;
	color: #ffffff;
	text-align:center;
	padding-top: 10px;
	display: inline-block;
}
.list1{
	height: 43px;
	width: 800px;
	position: absolute;
	top: 0px;
	left: 172px;
	display: inline-block;
}
.word6{
	display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
}
.image2{
	position: absolute;
	top: -5px; 
	left: 732px;
}
.gray{
	background-color: #f8f7f6;
}
.word5{
	font-size: 15px;
	color: #ff4d4b;
	text-align: center;
	margin-top: 23px;
}
.internet{
	font-size: 15px;
	color: #ff4d4b;
	text-align: center;
	margin-top: 30px;
}
.whole1{
	width: 1180px;
	height: 547px;
	margin: 0 auto;
	position: relative;
}
.gray1{
	border-bottom: 1px solid #fe6c00;
	width: 27px;
	height: 423px;
	background-color: #4c4c4a;
	float: left;
}
.list{
	border-bottom: 1px solid #fe6c00;
	width: 145px;
	height: 423px;
	float: left;
	background-color: white;
	display: inline-block;
}
.listin{
	width: 129px;
	height: 402px;
	margin-top: 6px;
	margin-left: 10px;
}
.image{
	width: 800px;
	height: 361px;
	display: inline-block;
	float: left;
	border-bottom: 1px solid #fe6c00;
	border-right: 1px solid #fe6c00;
	overflow: hidden;
	position: relative;
}
.bann{
	width: 6472px;
	position: absolute;
	left: -809px;
}
.imgin{
	width: 809px;
	float: left;
}
.image>span{
	display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	position: absolute;
	top: 135px;
}
#left{
	background: url(../img/btn.gif) no-repeat 0 0;
	left: 10px;
}
#right{
	background: url(../img/btn.gif) no-repeat 0 -60px;
	right: 10px;
}
.nav{
	position: absolute;
	left: 285px;
	bottom: 15px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	text-align:center;
	background: #efeeec;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.notice{
	width: 207px;
	height: 547px;
	background-color: #ffffff;
	float: right;
}
.nav .active{
	background: #fe6c00;
}
.imgnotice{
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
}
.fast{
	height: 42px;
	width: 198px;
}
.fast1{
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fe6c00;
}
.jiantou{
	display: inline-block;
	margin-left: 56px;
}
.no{
	width: 197px;
	height: 321px;
	border-bottom: 1px solid #ebeae7;
	border-top: 1px solid #ebeae7;
	overflow: hidden;
	position: relative;
}
#list{
	list-style: none;
	position: absolute;
	top: 0px;
	left: 15px;	
	margin: 0;
}
.gonggao{
	width: 197px;
	height: 30px;
	font-weight: bold;
	color: #ff4d04;
	font-size: 12px;
	line-height: 30px;
}
.fee{
	position: relative;
}
.feeimg{
	margin-left: 15px;
	margin-top: 7px;
	display: inline-block;
}
.feeword{
	position: absolute;
	font-size: 12px;
	display: inline-block;
	top: 7px;
	left: 40px;
}
.feeword1{
	font-size: 12px;
	display: inline-block;
	color: #ff4d04;
	position: absolute;
	top: 7px;
	left: 90px;
}
.phonenumber{
	width: 123px;
	height: 21px;
	font-size: 13px;
	color: #aca7a2;
	position: absolute;
	top: 36px;
	left: 15px;
}
#money{
	width: 60px;
	height: 17px;
	position: absolute;
	left: 15px;
	top: 67px;
	border: 1px solid #aca7a2;
	font-size: 12px; 
}
.money1{
	position: absolute;
	top: 67px;
	left: 85px;
	color: #ff4d04;
	font-size: 12px;
}
.fuhao{
	display: inline-block;
}
#money2{
	display: inline-block;
	width: 34px;
	height: 15px;
	float: right;
}
.charge{
	position: absolute;
	top: 90px;
	left: 15px;
	height: 25px;
	width: 178px;
	border-radius: 5px;
	background-color: #ff4d04;
	border: 1px solid #ff4d04;
	font-size: 13px;
	color: #ffffff;
}
.three{
	width: 172px;
	height: 123px;
	background-color: white;
	float: left;
	position: absolute;
	top: 424px;
	left: 0px;
}
.wenhao{
	margin-top: 10px;
	margin-left: 8px;
	display: inline-block;
}
.question2{
	display: inline-block;
	font-size: 12px;
	color: #855d38;
	position: absolute;
	top: 11px;
	left: 40px;
}
.heart{
	position: absolute;
	top: 54px;
	left: 8px;
}
.what{
	display: inline-block;
	font-size: 12px;
	color: #855d38;
	position: absolute;
	top: 55px;
	left: 40px;
}
.dallor{
	position: absolute;
	top: 97px;
	left: 8px;
}
.how{
	display: inline-block;
	font-size: 12px;
	color: #855d38;
	position: absolute;
	top: 100px;
	left: 40px;
}
.whole2{
	height: 185px;
	width: 1180px;
	margin: 0 auto;
}
.logo1{
	width: 150px;
	height: 185px;
	display: inline-block;
}
.whole3{
	width: 1030px;
	height: 184px;
	float: right;
	border-bottom: 1px solid #ebeae8;
	display: inline-block;
	position: relative;
}
.guide{
	font-size: 12px;
	width: 87px;
	height: 144px;
	line-height: 25px;
	position: absolute;
	top: 30px;
	left: 75px;
	display: inline-block;
	color: #666560;
}
.pay{
	font-size: 12px;
	width: 87px;
	height: 144px;
	line-height: 25px;
	position: absolute;
	top: 30px;
	left: 209px;
	display: inline-block;
	color: #666560;
}
.service1{
	font-size: 12px;
	width: 87px;
	height: 144px;
	line-height: 25px;
	position: absolute;
	top: 30px;
	left: 340px;
	display: inline-block;
	color: #666560;
}
.vip{
	font-size: 12px;
	width: 87px;
	height: 144px;
	line-height: 25px;
	position: absolute;
	top: 30px;
	left: 470px;
	display: inline-block;
	color: #666560;
}
.korea{
	font-size: 12px;
	width: 87px;
	height: 144px;
	line-height: 25px;
	position: absolute;
	top: 30px;
	left: 602px;
	display: inline-block;
	color: #666560;
}
.more{
	font-size: 12px;
	width: 87px;
	height: 144px;
	line-height: 25px;
	position: absolute;
	top: 30px;
	left: 733px;
	display: inline-block;
	color: #666560;
}
.erweima{
	position: absolute;
	top: 30px;
	left: 856px;
}
.listin1{
	font-size: 13px;
	margin: 0 5px;
}
.listin2{
	font-size: 13px;
	margin: 0 5px;
	margin-top: 13px;
}
.whole4{
	width: 1180px;
	height: 165px;
	margin: 0 auto;
	position: relative;
}
.list2{
	width: 665px;
	height: 20px;
	position: absolute;
	left: 260px;
	top: 15px;
	font-size: 12px;
	overflow: hidden;
	color: #666560;
}
.a1{
	position: absolute;
	top: 1px;
}
.img1{
	position: absolute;
	top: 0px;
	left: 67px;
}
.a2{
	position: absolute;
	top: 1px;
	left: 84px;
}
.img2{
	position: absolute;
	top: 0px;
	left: 145px;
}
.a3{
	position: absolute;
	top: 1px;
	left: 161px;
}
.img3{
	position: absolute;
	top: 0px;
	left: 220px;
}
.a4{
	position: absolute;
	top: 1px;
	left: 236px;
}
.img4{
	position: absolute;
	top: 0px;
	left: 303px;
}
.a5{
	position: absolute;
	top: 1px;
	left: 317px;
}
.img5{
	position: absolute;
	top: 0px;
	left: 379px;
}
.a6{
	position: absolute;
	top: 1px;
	left: 395px;
}
.img6{
	position: absolute;
	top: 0px;
	left: 457px;
}
.a7{
	position: absolute;
	top: 1px;
	left: 471px;
}
.img7{
	position: absolute;
	top: 0px;
	left: 511px;
}
.a8{
	position: absolute;
	top: 1px;
	left: 525px;
}
.img8{
	position: absolute;
	top: 0px;
	left: 586px;
}
.a9{
	position: absolute;
	top: 1px;
	left: 602px;
}
.english{
	font-size: 10px;
	color: #666560;
	position: absolute;
	top: 44px;
	left: 348px;
}
.chinese{
	font-size: 10px;
	color: #666560;
	position: absolute;
	top: 66px;
	left: 56px;
}
.number{
	font-size: 10px;
	color: #666560;
	position: absolute;
	top: 90px;
	left: 526px;
}
.image3{
	display: inline-block;
	position: absolute;
	left: 200px;
	top: 114px;
}
.image4{
	display: inline-block;
	position: absolute;
	left: 250px;
	top: 120px;
}
.image5{
	display: inline-block;
	position: absolute;
	left: 365px;
	top: 120px;
}
.image6{
	display: inline-block;
	position: absolute;
	left: 460px;
	top: 118px;
}
.image7{
	display: inline-block;
	position: absolute;
	left: 590px;
	top: 120px;
}
.image8{
	display: inline-block;
	position: absolute;
	left: 705px;
	top: 120px;
}
.image9{
	display: inline-block;
	position: absolute;
	left: 815px;
	top: 110px;
}
.first{
	width: 130px;
	height: 107px;
	position: fixed;
	top: 70px;
	right: -91px;

}
.second{
	position: fixed;
	top: 180px;
	right: -87px;
	width: 125px;
	height: 140px;
	background-color: #ff9260;
}
.third{
	position: fixed;
	width: 124px;
	height: 150px;
	top: 325px;
	right: -86px;
	background-color: #ff9260;

}
.fourth{
	position: fixed;
	width: 124px;
	height: 145px;
	top: 478px;
	right: -86px;
}